<app-navbar></app-navbar>


<section class="about-section">
    <div class="about-container">
        <div class="about-text">
            
            <!-- Console -->
            <h4>Console:</h4>
            <p>Toft Audio Designs ATB16</p>

            <!-- Microphones -->
            <h4>Microphones:</h4>
            <p>2x Neumann U87</p>
            <p>2x Sony C38B</p>
            <p>2x Shure KSM32</p>
            <p>Oktava MK-219</p>
            <p>United Twin87</p>
            <p>Ross CM-400</p>
            <p>Beyerdynamic M88 N</p>
            <p>SE 4400e</p>
            <p>Shure SM7</p>
            <p>2x Shure 545</p>
            <p>2x Shure SM57</p>
            <p>Shure 565SD</p>
            <p>Shure 589S</p>
            <p>Shure Beta 52</p>
            <p>Shure PG52</p>
            <p>Shure Beta 58A</p>
            <p>Shure Beta 57A</p>
            <p>Shure Green Bullet</p>
            <p>Sennheiser MD441</p>
            <p>Sennheiser MD421-U4</p>
            <p>Sennheiser MD421-U5</p>
            <p>2x Electro Voice 635A</p>
            <p>Telefunken M80</p>

            <!-- Mic Preamps/DI -->
            <h4>Mic Preamps/DI:</h4>
            <p>4x Quad 8 Coronado Preamps</p>
            <p>4x JLM NV Preamps</p>
            <p>2x Capi VP28 Preamps</p>
            <p>Altec 438C Valve Preamp & Compressor</p>
            <p>La Chappell 583S Valve Preamp</p>
            <p>4x Warm WA12 Preamps</p>
            <p>Acme Motown DI</p>
            <p>2x Radial JDI DIs</p>

            <!-- Outboard -->
            <h4>Outboard:</h4>
            <p>Altec 438 Vari-Mu Compressor</p>
            <p>2x dbx 165A Compressors</p>
            <p>Hairball Audio 1176</p>
            <p>Smart Research C1 Stereo Compressor</p>
            <p>Retro Double Wide Vari-Mu Compressor</p>
            <p>AML 52F50 Diode Compressor</p>
            <p>2x Capi BT50 Equalisers</p>
            <p>Echo Fix EF-X2 Tape Echo</p>
            <p>2x Roland RE-201 Space Echo</p>
            <p>2x Shure M267 Mixer/Limiter</p>
            <p>Chandler Tube Driver</p>

            <!-- Recorders/Converters -->
            <h4>Recorders/Converters:</h4>
            <p>Pro Tools</p>
            <p>Antelope Orion 32+ Gen3 Converters</p>

            <!-- Monitors -->
            <h4>Monitors:</h4>
            <p>Neumann KH120 Monitors</p>
            <p>Neumann KH750 Sub</p>
            <p>Avantone Mix Cube</p>

            <!-- Drumbs -->
            <h4>Drumbs:</h4>
            <p>70's Canora (Pearl) Drum Kit - 22K, 13R, 16F</p>
            <p>Ludwig Black Beauty 6.5" Snare</p>
            <p>Ludwig Acrolite 6.5" Snare</p>
            <p>Pearl Export 6.5" Snare</p>
            <p>70's Canora Wood Snare</p>
            <p>2x UFIP 15' crash cymbals (hi hats)</p>
            <p>UFIP Heavy Crash Cymbal</p>
            <p>Zildjian Kerope 15' hi hats</p>
            <p>Zildjian Sweet Ride</p>
            <p>Zildjian Ride</p>
            <p>Meinl Byzance Thin Ride</p>

            <!-- Bass Guitar -->
            <h4>Bass Guitar:</h4>
            <p>70's Greco P Bass Copy</p>
            <p>70's Greco Beatle Bass Copy</p>
            <p>Biston Stinger 6 Bass (Fender VI)</p>
            <p>Squire Bronco Bass</p>
            <p>Squire Jazz Bass</p>
            <p>SX Short Scale P-Bass</p>

            <!-- Guitar -->
            <h4>Guitar:</h4>
            <p>Gretsch White Falconv</p>
            <p>Gibson SG</p>
            <p>T Guitars #5 Jr</p>
            <p>1961 Kay Value Leader</p>
            <p>Martin 000-16GT</p>
            <p>70's Morris 000 Martin Copy</p>

            <!-- Keyboards -->
            <h4>Keyboards:</h4>
            <p>Wurlitzer 206 Electric Piano</p>
            <p>Lisner Upright Piano</p>
            <p>Nord Electro</p>
            <p>Korg MS-20 Mini</p>
            <p>Casio SK-1</p>
            <p>Yamaha Reface CS</p>
            <p>Very Old Electric Harmonium</p>
            <p>Harmonicas in all 12 keys</p>
            <p>Bass Harmonica</p>

            <!-- Amplifiers/Cabinets -->
            <h4>Amplifiers/Cabinets:</h4>
            <p>Vox AC30 Herritage H2X</p>
            <p>Vox AC4 Head</p>
            <p>Clingan Custard Guts Head (Fender Tweed Deluxe)</p>
            <p>Valvetone 50watt Marshall</p>
            <p>Marshall 1936 2x12 Cabinet</p>
            <p>Aguilar Tone Hammer 700 Head</p>
            <p>Peavey Decade</p>
            <p>Vox Pathfinder 15R</p>
            <p>Joyo Sweet Baby (Fender Tweed Champ)</p>
            <p>Roland Cube 20</p>
            <p>Ampeg 410HE x2</p>
            <p>Danelectro Honeytone</p>
            <p>Clingan Custom 1x12 Cabinet</p>

            <!-- Guitar Pedals -->
            <h4>Guitar Pedals:</h4>
            <p>Boss CE-1 Chorus Ensemble</p>
            <p>Boss DS-1 Distortion</p>
            <p>Boss GE-7 Graphic Equalizer</p>
            <p>Boss GE-10 Equalizer</p>
            <p>Boss GEB-7 Bass Equalizer</p>
            <p>Boss LS-2 Line Selector</p>
            <p>Boss PQ-3B Parametric Bass Equalizer</p>
            <p>Boss OC-2 Octave</p>
            <p>Boss TU-3 x2</p>
            <p>Boss VB-2W Vibrato</p>
            <p>Catalinbread Soft Focus Reverb</p>
            <p>Catalinbread Topanga Reverb</p>
            <p>Clingan Custom Germanium Fuzz Face</p>
            <p>Chandler Tube Driver</p>
            <p>Cioks DC5 Power Supply x3</p>
            <p>Danelectro Tuna Melt Tremolo x2</p>
            <p>Digitech Whammy</p>
            <p>Hudson Broadcast Preamp</p>
            <p>JPTR FX Double Jive Reel Saturator</p>
            <p>Ibanez FL-303 Flanger</p>
            <p>Line 6 DL4 Delay Looper</p>
            <p>Maxon PT-9 Phaser</p>
            <p>MXR Limiter</p>
            <p>Neo Instruments Ventilator</p>
            <p>No Name Super Fuzz Clone</p>
            <p>Radial Bigshot ABY x3</p>
            <p>Reuss Muzzbox Fuzz</p>
            <p>Robbo Custom Fuzzrite</p>
            <p>Sansamp Liverpool</p>
            <p>Sansamp Para Driver</p>
            <p>Schaller You-Yoy Bow-Wow Fuzz</p>
            <p>Skreddy Echo Infinity</p>
            <p>Sonic Research ST-300 Tuners x3</p>
            <p>Space Sounds Galactic Fuzz</p>
            <p>T rex Fuel Tank Jr</p>
            <p>Union Tube And Transistor LAB Compresor</p>
            <p>Wren and Cuff Box Of War Fuzz</p>
            <p>Wren and Cuff Tall Font Russian Fuzz</p>
            <p>Zvex Box Of Rock x2</p>
            <p>Zvex Distortion</p>
            <p>Zvex Instant Lofi Junky</p>
            <p>Zvex Sonar Tremolo</p>
        </div>
        <div class="about-image-column">
            <img src="assets/JB.jpg" alt="Descripción de la imagen 2">
            <img src="assets/Studio.jpg" alt="Descripción de la imagen 2">
            <img src="assets/RoomStudio.jpg" alt="Descripción de la imagen 2">
        </div>
    </div>
</section>